body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
}

.text_block {
        height: auto;
        width: 600px;
        background-color: blue;
        color: white;
        margin: 10px;
}

.image {
        height: auto;
        width: auto;
        margin: 0px 0px 25px 25px;
        float: right;
}